main {
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 75px;
}

.choice {
    display: block;
    list-style: none;
    padding: 5px;
}

.choice input {
    margin-right: 10px;
}